@model IEnumerable<YalcomaniaTour.Entities.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Bilet listesi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Regions.RegionName)
        </th>
        <th>ıgıu        
            @Html.DisplayNameFor(model => model.Tours.TourName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Regions.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tours.TourName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BranchOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketId }, new { @class = "btn btn-success " }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketId }, new { @class = "btn btn-info btn-xl" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketId }, new { @class = "btn btn-danger btn-xl" })
        </td>
    </tr>
}

</table>
