@model IEnumerable<YalcomaniaTour.Entities.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Bölge Listesi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hotels.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceHour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hotels.HotelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceHour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegionId }, new { @class = "btn btn-success " }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegionId }, new { @class = "btn btn-info btn-xl" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegionId }, new { @class = "btn btn-danger btn-xl" })
        </td>
    </tr>
}

</table>
